body {
	background:#fff;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

.btn.btn-sm.indigo:hover{
  color: #fff;
}

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}
.sectionPage {
  position: cover;
  width: 100%;
  height: 100%;
  top: -60px;
  margin-bottom: -10px;
}

.sectionPage::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: url('https://mdbootstrap.com/wp-content/uploads/2016/12/big-bundle1.jpg');
  background-position: center center;
  background-size: cover;
  filter: opacity(.1);
}

.corrouselRender{
  position: relative;
  top: -60px;
  color: black;
  opacity: 0.7;
  margin-bottom: -100px;
}

.movingText {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 60%;
  text-align: center;
}

.colSeparatorHome {
  background-color:#2d2e2f;
  padding: 25px;
  height: 250px;
}

.colVerticalLine {
  background-color: #2d2e2f;
}

.subTitleSeparator {
  color: snow;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.vl-one {
  border-left: 3px solid rgb(23, 173, 179);
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.vl-two {
  border-left: 3px solid rgb(189, 144, 22);
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

.vl-three {
  border-left: 3px solid rgb(179, 25, 84);
  margin-left: 2px;
  margin-right: 2px;
  height: 100%;
}

